@import "var.css";
@import "header/header.css";
@import "contacts.css";
@import "features/features.css";
@import "form/form.css";
@import "footer/footer.css";


@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
      url("fonts/Roboto-Regular.woff")  format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.woff2") format("woff2"),
      url("fonts/Roboto-Medium.woff")  format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.woff2") format("woff2"),
      url("fonts/Roboto-Bold.woff")  format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.woff2") format("woff2"),
      url("fonts/Roboto-Black.woff")  format("woff");
  font-weight: 900;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.logo {
  width: 68px;
  height: 68px;
}

@media (max-width: 1024px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
  }
}