.footer {
  max-width: 1600px;
  padding: 45px 0;
  background-color: var(--footer-bg-color);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  gap: 19px;
  align-items: center;
}

.footer__logo {
  width: 68px;
  height: 68px;
}

.footer__item {
  margin-bottom: 2px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__text {
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  color: var(--main-color);
}

.footer__contacts {
  text-align: center;
}

.contacts__tel {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 3px;
}

.contacts__text {
  font-size: 16px;
  line-height: 19px;
}

.contacts__link {
  color: var(--main-color);
  font-style: normal;
}

.contacts__link_style_border {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--main-color);
}

.contacts__link-img {
  display: none;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 1024px;
    padding: 37px 0 49px;
  }

  .footer-container {
    max-width: 964px;
  }

  .footer__logo {
    width: 60px;
    height: 60px;
  }
  
  .contacts__tel {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 4px;
  }
  
  .contacts__text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 320px;
    padding: 25px 0 15px;
    background-color: linear-gradient(to bottom, #2F324B 63%, #2A2C3F 37%);
  }

  .footer-container {
    max-width: 320px;
    flex-wrap: wrap;
    row-gap: 25px;
    padding: 0 15px;
  }

  .footer__logo {
    width: 30px;
    height: 30px;
  }

  .footer__text {
    font-size: 8px;
    line-height: 11px;
  }

  .footer__text_place_last {
    order: 1;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    padding-left: 65px;
  }

  .contacts__tel {
    display: none;
  }

  .contacts__text {
    display: none;
  }

  .contacts__link-img {
    display: block;
    width: 24px;
    height: 24px;
  }
}