.section {
  max-width: 1600px;
  padding: 70px 0 70px;
}

.features {
  background-color: var(--section-bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.section__features-heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin: 0 0 26px 0;
  color: var(--section-text-color);
}

.section__features-subheading {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 34px 0;
  color: var(--section-text-color);
}

.section__features-subheading:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-right: 24px;
  background-color: var(--section-text-color);
}

.section__features-subheading:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-left: 24px;
  background-color: var(--section-text-color);
}

.section__text {
  display: block;
  padding: 0 237px 0 239px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--section-text-color);
  margin-bottom: 50px;
}

.section__wrapper {
  display: flex;
  flex-basis: 196px;
  justify-content: space-between;
  gap: 50px;
  padding: 0 133px;
  margin: 0;
}

.section__features-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.section__features-text_count_one:before {
  content: '1';
  display: block;
  color: var(--section-bg-color);
  font-size: 57px;
  line-height: 100%;
  width: 122px;
  height: 122px;
  background-color: #23C7EC;
  border-radius: 50%;
  padding: 32px 44px;
  margin: 0 auto 16px;
}

.section__features-text_count_two:before {
  content: '2';
  display: block;
  color: var(--section-bg-color);
  font-size: 57px;
  line-height: 100%;
  width: 122px;
  height: 122px;
  background-color: #23C7EC;
  border-radius: 50%;
  padding: 32px 44px;
  margin: 0 auto 16px;
}

.section__features-text_count_three:before {
  content: '3';
  display: block;
  color: var(--section-bg-color);
  font-size: 57px;
  line-height: 100%;
  width: 122px;
  height: 122px;
  background-color: #23C7EC;
  border-radius: 50%;
  padding: 32px 44px;
  margin: 0 auto 16px;
 }

.section__features-text_count_four:before {
  content: '4';
  display: block;
  color: var(--section-bg-color);
  font-size: 57px;
  line-height: 100%;
  width: 122px;
  height: 122px;
  background-color: #23C7EC;
  border-radius: 50%;
  padding: 32px 44px;
  margin: 0 auto 16px;
}

@media (max-width: 1024px) {
  .section__features-heading {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }

  .section__features-subheading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0 0 33px;
  }

  .section__features-subheading:before {
    width: 40px;
    margin-right: 20px;
  }
  
  .section__features-subheading:after {
    width: 40px;
    margin-left: 22px;
  }

  .section__text {
    font-size: 16px;
    line-height: 23px;
  }

  .section__wrapper {
    flex-basis: 180px;
    justify-content: space-between;
    padding: 0 76px;
    margin: 0;
  }

  .section__features-text {
    font-size: 18px;
    line-height: 25px;
  }

  .section__features-text_count_one:before {
    font-size: 52px;
    line-height: 73px;
    padding: 22px 31px;
    margin: 0 auto 26px;
  }

  .section__features-text_count_two:before {
    font-size: 52px;
    line-height: 73px;
    padding: 22px 31px;
    margin: 0 auto 26px;
  }

  .section__features-text_count_three:before {
    font-size: 52px;
    line-height: 73px;
    padding: 22px 31px;
    margin: 0 auto 26px;
  }

  .section__features-text_count_four:before {
    font-size: 52px;
    line-height: 73px;
    padding: 22px 31px;
    margin: 0 auto 26px;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 30px 0 60px;
  }

  .section__heading {
    font-size: 20px;
    line-height: 23px;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  .section__subheading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0 0 26px;
  }

  .section__subheading:before {
    width: 19px;
    height: 1;
    margin-right: 21px;
  }
  
  .section__subheading:after {
    width: 19px;
    height: 1;
    margin-right: 21px;
  }

  .section__text {
    font-size: 12px;
    line-height: 17px;
    padding: 0 15px;
    margin-bottom: 40px;
  }

  .section__wrapper {
    flex-direction: column;
    column-gap: 40px;
    padding: 0 77px;
    margin: 0;
  }
}