.section {
  max-width: 100%;
  padding: 70px 0 70px;
}

.features {
  background-color: var(--section-bg-color);
}

.section__features-heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin: 0 0 26px 0;
  color: var(--section-text-color);
}

.section__features-subheading {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 34px 0;
  color: var(--section-text-color);
}

.section__features-subheading:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-right: 24px;
  background-color: var(--section-text-color);
}

.section__features-subheading:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-left: 24px;
  background-color: var(--section-text-color);
}

.section__text {
  display: block;
  max-width: 724px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--section-text-color);
  margin: 0 auto 50px;
}

.section__list {
  display: flex;
  gap: 50px;
  padding: 0 103px;
  margin: 0;
  counter-reset: count 0;
}

.section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.section__item:before {
  counter-increment: count;
  content: counter(count);
  display: block;
  color: var(--section-bg-color);
  font-size: 57px;
  line-height: 100%;
  width: 122px;
  height: 122px;
  background-color: var(--features-count-color);
  border-radius: 50%;
  padding: 32px 44px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .section__features-heading {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }

  .section__features-subheading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0 0 33px;
  }

  .section__features-subheading:before {
    width: 40px;
    margin-right: 20px;
  }
  
  .section__features-subheading:after {
    width: 40px;
    margin-left: 22px;
  }

  .section__text {
    max-width: 666px;
    font-size: 16px;
    line-height: 23px;
  }

  .section__list {
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .section__item {
    font-size: 18px;
    line-height: 25px;
  }

  .section__item:before {
    font-size: 52px;
    line-height: 73px;
    padding: 16px 31px;
    margin-bottom: 26px;
    width: 104px;
    height: 104px;
  }
}

@media (max-width: 992px) {
  .section__list {
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 90px;
    padding: 0 15px;
  }

  .section__item {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 0 60px;
  }

  .section__features-heading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  .section__features-subheading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0 0 26px;
  }

  .section__features-subheading:before {
    width: 19px;
    height: 1;
    margin-right: 21px;
  }
  
  .section__features-subheading:after {
    width: 19px;
    height: 1;
    margin-right: 21px;
  }

  .section__text {
    font-size: 12px;
    line-height: 17px;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .section__list {
    justify-content: space-evenly;
    column-gap: 20px;
  }
}

@media (max-width: 540px) {
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__list {
    flex-direction: column;
    column-gap: 40px;
    max-width: 260px;
    padding: 0 15px;
    margin: 0;
  }

  .section__item {
    max-width: 166px;
  }
}